/* 背景 */
.bg-height{
  min-height: 100vh;
}

/* container */
.section-padding{
  padding: 60px 0px;
}
.container{
  max-width: 1440px;
  margin: 0 auto;
}
.container-padding{
  padding: 0px 40px;
}
@media screen and (max-width: 576px){
  .container-padding{
    padding: 0px 20px;
  }
}

.cart-flex{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}